{% extends "template.twig" %}

{% block body %}
    {% if(data.logged) %}
    <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2><br><br>Vous êtes déjà connecté</h2>
            <h3><br><br>Retour au dashboard</h3>
            <nav aria-label="breadcrumb" class="banner-breadcrumb"></nav>
        </div>
    </section>
    {% else %}
    <!--================Header Menu Area =================-->

    <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2><br><br>Bienvenue! Vous pouvez vous connecter ici</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb"></nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!--================Login Area=================-->



    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 mb-5"  data-aos="fade" >

                    <form action="/login" method="POST" class="p-5 bg-white">
                        {{  csrf() }}
                        <div class="row form-group">
                            {% if errors %}
                                <h3 class="text-{{ errors.types }}">{{ errors.message }}</h3>
                            {% endif %}
                            <div class="col-md-12">
                                <label class="{% if errors.type %} text-danger {% else %}text-black{% endif %}" for="email">Email</label>
                                <input type="email" name="email" id="email" {% if form.email %}value="{{ form.email }}"{% endif %} class="form-control">
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="{% if errors.type %} text-danger {% else %}text-black{% endif %}" for="subject">Mot de passe</label>
                                <input type="password" name="password" id="subject" class="form-control">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-12">
                                <p>Un trou de mémoire? <a href="/login/forgot"> <br> Mot de passe oublié</a></p>
                                <p>Vous n'êtes pas encore inscrit? <a href="{{ path_for('register') }}"> <br> S'inscrire</a></p>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Se connecter" class="btn btn-primary py-2 px-4 text-white">
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--================Login Area End=================-->
{% endif %}
{% endblock %}